---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-16 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

		<div class="row">
			<div class="col-lg-16 col-md-10 mx-auto">
				A warm welcome to all the guests of the QIoT project community! <br />
				<br /> A few months ago, back in November 2020, a small group of
				redhatters in love with opensource spotted the opportunity to create
				a forum to discuss about innovation, have fun and tackle technical
				and business challenges. <br /> <br /> We are seing this community
				growing organically and attracting more and more SMEs bringing new
				ideas and contribution to out PoCs. <br /> Feel free to have a look,
				investigate, test and leave a feedback. <br /> <br /> We look
				forward to have you joining the project! <br />
				<br /> <em>The QIoT team</em>
				<hr>
			</div>
		</div>

		<div class="row">
      <div class="col-lg-16 col-md-10 mx-auto">

        {{ content }}

        <h1 class="post-title">Latest Articles</h1>

        <!-- Home Post List -->
{% for post in site.posts limit : 3 %}
	<article class="post-preview">
	  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
	    <h2 class="post-title">{{ post.title }}</h2>
	    {% if post.subtitle %}
	    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
	    {% else %}
	    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
	    {% endif %}
	  </a>
	  <p class="post-meta">
	  {% if post.author %}
	     {% assign author = site.data.authors[post.author] %}
	        {% if author.emailhash %}
	            <img class="headshot" src="https://www.gravatar.com/avatar/{{ author.emailhash }}">
	        {% endif %}
	            Posted by {{ author.name }}
	    {% else %}
	        {{ site.author }}
	    {% endif %}
	    on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
	  </p>
        <p>{% include share-bar-small.html url=post.url title=post.title %}</p>
	</article>

<hr>
{% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/announcements" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>