---
layout: default
---

<div class="home">
	<h2 class="post-list-heading">
		Welcome
	</h2>
	<p>
		The “Quarkus & IoT” (QIoT) community was born in late 2020 from a Red Hat initiative focusing on empowering IoT and Edge computing using Red Hat cloud-native technologies: the QIoT Hackfest. 
		</br>
		<a href="https://qiot-project.github.io/community/">more</a>
	</p>
	<h2 class="post-list-heading">Posts</h2>
	<ul class="post-list">
		{% for post in site.posts %}
		<li>
			<span class="post-meta">{{ post.date | date: "%-d %B %Y" }}</span>
			<h3>
				<a class="post-link" href="{{ post.url }}">{{ post.title }} </a>
			</h3>
		</li>
		{% endfor %}
	</ul>
	<p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
</div>
